.Home-container {
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.Home-container > span {
  color: #fff;
  font: 22px sans-serif;
  margin: 2% 0;
}

.Film-container {
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 0 5% 6%;
  width: 100%;
}

.Film-poster-button {
  min-height: 5%;
  max-height: 15%;
  max-width: 15%;
  margin: 5px;
  min-width: 5%;
  background-color: grey;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.Film-poster {
  height: 100%;
  width: 100%;
}

.Loading-container {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
